@import '../../../styles/variables.module.scss';
.user-card-list {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.icon-wrapper {
  float: right;
}

.title {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 1;
}

.buttonUploadFrame {
  padding-left: 1rem;
}

.buttonUpload {
  margin-right: 20px;
  padding: 3px 5px 3px 5px;
  border: 1px solid;
  border-color: black;
}

.title-wrapper {
  margin-bottom: 10px;
}

.edit-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}

.item-wrapper {
  padding-bottom: 10px;
}

h5 {
  margin-bottom: 0 !important;
}

.link {
  cursor: pointer;
  color: $main-color !important;
  font-size: 15px;
  &:hover {
    color: $main-color-hover !important;
    text-decoration: underline !important;
  }
}

.icon-link {
  cursor: pointer;
  font-size: 15px;
  cursor: pointer;
  color: $main-color !important;
  transition: 0.3s;
  &:hover {
    color: $main-color-hover !important;
    text-decoration: underline !important;
  }
}

.icon-a {
  cursor: pointer;
  color: $main-color !important;
  font-size: 2em;
  transition: 0.3s;
  &:hover {
    color: $main-color-hover !important;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-modal {
  &.no-results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-weight: bold;
    font-size: 20px;
    p {
      text-align: center;
    }
  }
  .icon-a {
    font-size: 22px;
  }
  &.title-wrapper {
    margin-bottom: 20px;
  }
  &.content-list {
    h5 {
      font-size: 18px !important;
    }
  }
}

.viewVideo {
  font-weight: normal;
  text-decoration: underline !important;
  text-transform: none;
}

.no-padding {
  padding: 0 !important;
}
