.margin-top {
    margin-top: 1.85714286em;
}

.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.center-row {
    display: flex;
    justify-content: center;
}

.separate-hr {
    color: #000000;
    opacity: 0.8!important;
}
.afterRegister{
    height: 50vh;
}
@media (max-width: 768px) {
    .padding-side {
        padding: 0 13px;
    }
}