.modified-container {
  padding: 20px 20px 50px 20px;
  margin-bottom: 10px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.account-setting-form {
  padding-top: 30px;
}

.password-title-group {
  margin-top: 30px;
}

.listitem-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}
