@import '../../../styles/variables.module.scss';
.modal-content {
  border-radius: 5px !important;
}

.close-button {
  cursor: pointer;
  color: #252525 !important;
  font-size: 25px;
  &:hover {
    color: black !important;
  }
}

.modal-body-inner {
  padding-right: 17px !important;
}

.modal-content {
  min-height: 10vh;
  max-height: 60vh;
  overflow-y: hidden;
}

.modal-body {
  overflow-y: auto;
  padding-right: 17px !important;
  padding-top: 0 !important;
  .content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}

.modal-body h5 {
  font-size: 20px;
  font-weight: bold;
}

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.modal-body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #666666;
}

.popup-close {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}
