@import '../../../styles/variables.module.scss';

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.form-width {
  min-width: 350px;
}

.icon-style {
  font-size: 20px;
}

.link-wrapper {
  margin-top: 10px;
}

.social-link {
  text-decoration: none !important;
  padding: 0 10px 0 10px;
  transition: 0.3s;
  &:hover {
    color: $main-color-hover;
  }
  &:first-child {
    padding: 0 10px 0 0;
  }
}

.title-weight {
  font-weight: 600;
}

.hr-color {
  border-color: #999;
}

.link-color {
  &:hover {
    color: $main-color-hover;
  }
  transition: 0.3s;
}

.icon-edit {
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
