.avatar-wrapper {
  height: 150px;
  text-align: center;
}
.span-age{
  padding-left: 10px;
  font-size: 11px;
  color: #f00;
}
.input-age {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}