.small-text {
  font-size: 12px;
}

.skill-item {
  margin-left: 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.skill-image {
  width: 30px;
  border-radius: 50%;
}

.link {
  font-weight: normal;
  text-decoration: underline;
}
