@import '../../../styles/variables.module.scss';

.modified-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.text {
  font-size: 11px;
  line-height: 1.1;
}

.padding-top {
  padding-top: 20px;
}

.box-shadow {
  border: 1px solid #f3f3f3;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.clickable {
  cursor: pointer;
}

.user-info-wrapper {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border: 0 !important;
  padding: 26px 26px 10px 26px !important;
}

.section-wrapper {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.about-title {
  //color: $main-color;
  cursor: pointer;
  &:hover {
    //color: $main-color-hover;
    text-decoration: underline;
  }
}

.sticky-sidebar {
  top: 110px !important;
  z-index: 997 !important;
}
.link-wrapper {
  margin-top: 10px;
}
.social-link {
  text-decoration: none !important;
  padding: 0 10px 0 10px;
  transition: 0.3s;
  &:hover {
    color: $main-color-hover;
  }
  &:first-child {
    padding: 0 10px 0 0;
  }
}