@media (max-width: 767px) {
    .no-margin-bottom {
        margin-bottom: 0 !important;
    }
}

.content-confirm {
    padding-bottom: 20px;
}

.cancel-button {
    width: 100px;
    background-color: #d3d3d3;
    border-color: #d3d3d3 !important;
    padding-left: 0!important;
    padding-right: 0!important;
    &:hover {
        background-color: #bfb8b8 !important;
    }
}

.confirm-button {
    width: 100px;
    color: #ccc!important;
    &:hover {
        color: #fff!important;
        border: 1px solid #d3d3d3!important;
    }
}

.message {
    font-size: 1.6em;
    text-align: center;
}