@import '../../../styles/variables.module.scss';
$md-chip-height: 32px;

.chip {
  display: inline-block;
  background: $main-color;
  color: white;
  padding: 0 16px 0 12px;
  border-radius: 32px;
  font-size: 13px;
  &.md-chip-hover:hover {
    background: #ccc;
  }
}

.chip-icon {
  display: block;
  float: left;
  width: $md-chip-height;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 0 0 -10px;
  cursor: pointer;
  transition: 0.3s;
}

.chip,
.chip-icon {
  height: $md-chip-height;
  line-height: $md-chip-height;
}
