@import '../../../styles//variables.module.scss';

.input-container {
  position: relative;
  input {
    padding-left: 35px !important;
  }
}

.icon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  font-size: 15px;
}

.input-wrapper {
  &:hover {
    background-color: #00415f;
    color: white;
    .input {
      border-bottom: 1px solid #00415f;
    }
  }
}

.icon-interest {
  width: 40px;
  text-align: center;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}
.input {
  cursor: pointer;
  border-bottom: solid 1px #e5e5e5;
  margin: 0 20px;
  padding: 7px 0;
  width: 100%;
  &:hover {
    border: none;
  }
}

.chip-parent {
  margin-top: 15px;
}

.chip-wrapper {
  margin-right: 10px;
  float: left;
}
