@import '../../../styles/variables.module.scss';

.avatar-wrapper {
  vertical-align: middle;
  margin-bottom: 20px;
}

.preview-wrapper {
  vertical-align: middle;
}

.headline {
  text-align: center;
  color: #252525 !important;
  margin-bottom: 0;
  padding-top: 20px;
}

.wrapper {
  text-align: center;
  padding: 20px !important;
}

// @media (max-width: $sm) {
//   .wrapper {
//     width: 100%;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: $sm) {
//   .wrapper {
//     width: 600px;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: $md) {
//   .wrapper {
//     width: 700px;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: $lg) {
//   .wrapper {
//     width: 700px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: $xl) {
//   .wrapper {
//     width: 700px;
//   }
// }
