.upload-height {
  height: 445px;
}

.over-flow {
  overflow-y: auto;
  height: 300px;
}

.btn-submit-video {
  color: #fff !important;
  margin-bottom: 10px;
  width: 100%;
}

.header-style {
  margin-bottom: 10px !important;
}

.margin-bottom {
  margin-bottom: 30px;
}
