.small-text {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
}

.title {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  line-height: 1;
}

.icon-wrapper {
  cursor: pointer;
  margin-left: 20px;
}

.description-wrapper > p {
  line-height: 1.4;
  padding-right: 30px;
  text-align: justify;
}

.link {
  font-weight: normal;
  text-decoration: underline;
}

.margin-left {
  margin-left: 5px;
}

.image-style {
  height: 80px;
  width: 80px;
}
